

body {
  background-image: url(breweries.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.results {
    align-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.result {
    font-family: 'Martel', serif;
    font-size: 2rem;
    padding: 2em;
    text-align: center;
    text-shadow: 2px 2px #201f1f;
    color: rgba(240, 239, 243, 0.897);
    background-color: #57501ec9;
    border-radius: 12px;
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
    
}

.buttons {
    text-align: center;   
}
button {
    border-radius: 10px;
    display: inline-block;
    border: none;
    padding: .6rem 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    text-shadow: 1px 2px #201f1f;
    background: #413f32dc;
    color: #e7e1e1da;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 500ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #383730d5;
    color: #ffffffe3;
}

button:focus {
    outline: 0px solid rgb(104, 155, 113);
    outline-offset: -10px;
    
}

button:active {
    transform: scale(0.97);
}

a {
    font-size: 24px;
    color: rgb(150, 187, 187);
}


